<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586895253105-efmt5djvq3ogfae8i8dre1q5s9ik7sh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586895253105-efmt5djvq3ogfae8i8dre1q5s9ik7sh5</string>
	<key>API_KEY</key>
	<string>AIzaSyCJNJULGD7QbI4sgIgPtL4_m5W85f4go4U</string>
	<key>GCM_SENDER_ID</key>
	<string>586895253105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastian-frelle.uguide</string>
	<key>PROJECT_ID</key>
	<string>uguide-d1368</string>
	<key>STORAGE_BUCKET</key>
	<string>uguide-d1368.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586895253105:ios:6bdb4cda414f8a77</string>
	<key>DATABASE_URL</key>
	<string>https://uguide-d1368.firebaseio.com</string>
</dict>
</plist>
